<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Single Page CV</title>
</head>
<body>
    <div class="border-box">
        <div class="header-line"></div>
            <div class="name-container">
                <h1>Arwil Paraiso</h1>
            </div>
                <p class="green-text">Junior Frontend Developer</p>
            <div class="contact-container">
                <p>0258 San Antonio, Los Baños, Laguna</p>
                <p>09657839801</p>
                <p>arwilmartinsparaisoo@gmail.com</p>
            </div>
                <p class="green-text">Skills</p>
            <div class="skill-container">
                <p>HTML, FIGMA, CSS</p>
            </div>
            <p class="green-text">Education</p>
            <div class="education-container">
                <p>Lopez Elementary School - Batnong Malaki</p>
                <p>Los Baños National Highschool - Batong Malaki </p>
                <p>Los Baños Senior Highschool -San Antonio</p>
                <p>Laguna State Polytechnic University - Los Baños</p>
            </div>
    </div>
</body>
</html>